<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<title>Customer Management System</title>
</h:head>

<h:body>
    <ui:include src="menu.xhtml" />
	<h:form id="customer-form">
	    <p:growl id="growl" life="2000" />
		<p:panel id="pnlCustomer" header="Add New Customer">
		    <h:inputHidden value="#{customerController.customer.id}" id="customer-id" />
			<h:panelGrid columns="2" cellpadding="4">
				<p:outputLabel for="first-name" value="First Name: " />
				<p:inputText id="first-name" value="#{customerController.customer.firstName}" />

				<p:outputLabel for="last-name" value="Last Name: " />
				<p:inputText id="last-name" value="#{customerController.customer.lastName}" />

				<p:outputLabel for="date-of-birth" value="Date of Birth:" />
                <p:calendar id="date-of-birth" value="#{customerController.customer.dateOfBirth}" showOn="button" maxdate="#{customerController.dateOfBirthMax}" pattern="#{customerController.dateFormat}" effect="fold" />

				<p:outputLabel for="address" value="Address: " />
				<p:inputText id="address" value="#{customerController.customer.address.address}" />

				<p:outputLabel for="city" value="City: " />
				<p:autoComplete id="city" forceSelection="true" value="#{customerController.customer.address.city}" completeMethod="#{customerController.getFilteredCity}" />

				<p:outputLabel for="postal-code" value="Postal Code: " />
				<p:inputText id="postal-code" value="#{customerController.customer.address.postalCode}" />

                <p:outputLabel for="add-customer" value="" />
                <h:panelGrid columns="3" cellpadding="4">
                    <p:commandButton id="add-customer" value="Add" update="growl tblCustomer" actionListener="#{customerController.addCustomer()}" />
                    <p:commandButton id="update-customer" value="Update" update="growl tblCustomer" actionListener="#{customerController.updateCustomer()}" />
                    <p:commandButton id="delete-customer" value="Delete" update="growl tblCustomer" actionListener="#{customerController.deleteCustomer()}" />
                </h:panelGrid>
			</h:panelGrid>
		</p:panel>
		<p:dataTable id="tblCustomer" var="customer" value="#{customerController.customerDataModel}" rows="10" paginator="true" lazy="true"
		        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
		        selectionMode="single" selection="#{customerController.selectedCustomer}" stickyHeader="true" >
			<p:ajax event="rowSelect" listener="#{customerController.onRowSelect}" update="customer-form:growl customer-form:pnlCustomer" />
			<p:column headerText="Id" style="display: none">
                <h:outputText value="#{customer.id}" />
            </p:column>
			<p:column headerText="First Name">
				<h:outputText value="#{customer.firstName}" />
			</p:column>
			<p:column headerText="Last Name">
				<h:outputText value="#{customer.lastName}" />
			</p:column>
			<p:column headerText="Date of Birth">
                <h:outputText value="#{customerController.formatDate(customer.dateOfBirth)}" />
            </p:column>
		</p:dataTable>
	</h:form>
</h:body>
</html>