<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Customer Management System</title>
</h:head>

<h:body>
    <h:form id="login-form" prependId="false">
		<p:outputLabel value="Login failed!" rendered="${!empty param['error']}" />
		<h:panelGrid columns="2" cellpadding="4">
            <p:outputLabel for="username" value="Username" />
            <p:inputText id="username" placeholder="Username" />

            <p:outputLabel for="password" value="Password" />
            <p:password id="password" placeholder="Password" />

            <p:outputLabel for="cmdLogin" value="" />
            <p:commandButton value="Login" id="cmdLogin" ajax="false" />
        </h:panelGrid>
    </h:form>
</h:body>
</html>