<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:sec="http://www.springframework.org/security/tags">
	<ui:composition 
	    xmlns="http://www.w3.org/1999/xhtml"
	    xmlns:f="http://xmlns.jcp.org/jsf/core"
	    xmlns:h="http://xmlns.jcp.org/jsf/html"
	    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	    <h:outputStylesheet library="primefaces-#{menuController.selectedTheme}" name="theme.css" />
	    <h:outputText value="Welcome #{menuController.user.username}" />
		<h:form onsubmit="this.action='#{request.contextPath}/logout';" class="logout-form">
			<p:menubar>
				<p:submenu label="File" icon="ui-icon-document">
					<p:submenu label="New" icon="ui-icon-contact">
					    <sec:authorize access="hasAuthority('USER')">
						    <p:menuitem value="Project" action="doUser.xhtml" />
						    <p:menuitem value="Other" action="doUser.xhtml" />
						</sec:authorize>
						<sec:authorize access="hasAuthority('ADMIN')">
						    <p:menuitem value="Project" action="doAdmin.xhtml" />
						    <p:menuitem value="Other" action="doAdmin.xhtml" />
						</sec:authorize>
					</p:submenu>
					<p:menuitem value="Open" url="#" />
					<p:separator />
					<p:menuitem value="Quit" url="#" />
				</p:submenu>
		
				<p:submenu label="Edit" icon="ui-icon-pencil">
					<p:menuitem value="Undo" url="#" icon="ui-icon-arrowreturnthick-1-w" />
					<p:menuitem value="Redo" url="#" icon="ui-icon-arrowreturnthick-1-e" />
				</p:submenu>
		
				<p:submenu label="Help" icon="ui-icon-help">
					<p:menuitem value="Contents" url="#" />
					<p:submenu label="Search" icon="ui-icon-search">
						<p:submenu label="Text">
							<p:menuitem value="Workspace" url="#" />
						</p:submenu>
						<p:menuitem value="File" url="#" />
					</p:submenu>
				</p:submenu>
		
				<p:submenu label="Actions" icon="ui-icon-gear">
					<p:submenu label="Ajax" icon="ui-icon-refresh">
						<p:menuitem value="Save" url="#" icon="ui-icon-disk" />
						<p:menuitem value="Update" url="#" icon="ui-icon-arrowrefresh-1-w" />
					</p:submenu>
					<p:submenu label="Non-Ajax" icon="ui-icon-newwin">
						<p:menuitem value="Delete" url="#" icon="ui-icon-close" ajax="false" />
					</p:submenu>
				</p:submenu>
		
				<p:menuitem value="Quit" url="http://www.primefaces.org" icon="ui-icon-close" />
		
				<f:facet name="options">
		            <p:commandButton value="Logout" ajax="false" icon="ui-icon-extlink" />
				</f:facet>
			</p:menubar>
		</h:form>
		<h:form>
		    <p:outputLabel for="themes" value="Themes:" />
		    <p:selectOneMenu id="themes" style="width:165px" value="#{menuController.selectedTheme}" onchange="submit()" valueChangeListener="#{menuController.changeTheme}">
	            <f:selectItem itemLabel="Choose Theme" itemValue="" />
	            <f:selectItems value="#{commonController.themes}" var="theme" itemLabel="#{theme.displayName}" itemValue="#{theme.name}"/>
	        </p:selectOneMenu>
	    </h:form>
    </ui:composition>
</html>